<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mx-auto">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" class="mx-auto h-10 w-auto" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="flex flex-col gap-4">
        <%= render "devise/shared/error_messages", resource: resource %>
        <% if flash[:alert] %>
          <div class="flex flex-col gap-2 bg-red-50 p-4 rounded-md">
            <p class="text-red-700"><%= flash[:alert] %></p>
          </div>
        <% end %>
        <div>
          <%= f.label :email, class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <%= f.label :password, class: "block text-sm/6 font-medium text-gray-900" %>
            <div class="text-sm">
              <%= link_to "Forgot password?", new_password_path(resource_name), class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
            </div>
          </div>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "current-password", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="flex gap-3">
            <div class="flex h-6 shrink-0 items-center">
              <div class="group grid size-4 grid-cols-1">
                <%= f.check_box :remember_me, class: "col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto" %>
                <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25">
                  <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
                  <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100" />
                </svg>
              </div>
            </div>
            <%= f.label :remember_me, class: "block text-sm/6 text-gray-900" %>
          </div>
        <% end %>
        <div>
          <%= f.submit "Log in", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      </div>
    <% end %>
    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Not a member?
      <%= link_to 'Sign up', new_registration_path(resource_name), class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>
